.char {
    font-size: 100px;
}

.pinyin {
    font-size: 65px;
}

.App {
    text-align: center;
}

.slider {
    width: 400px !important;
}

.swipeable {
    height: fit-content;
    width: fit-content;
    padding: 5px 60px;
    border: 1px solid black;
    margin: auto;
}